.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner{
    background-image: url('../../assets/Images/table.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h3{
    color: rgb(255, 255, 255);
}

.dropdown-menu .dropdown-item:hover {
  background-color: #0d6efd;
  color: #fff;
}