*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banners{
    background-image: url('../../assets/Images/table.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banners h3{
    color: rgb(255, 255, 255);
}

.card .btn-outline-dark {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.related-product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}